services:
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: logsuser
      POSTGRES_PASSWORD: logspass
      POSTGRES_DB: logsdb
    ports:
      - "5432:5432"
    volumes:
      - ./dbinit.sql:/docker-entrypoint-initdb.d/dbinit.sql

  producer:
    build: ./producer
    container_name: producer
    depends_on:
      - redis

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - redis
      - postgres

  api:
    build: ./api
    container_name: api
    ports:
      - "8000:8000"
    depends_on:
      - postgres

volumes:
  pgdata:
